allennlp==2.10.1
datasets==3.1.0
evaluate==0.4.3
GPUtil==1.4.0
numpy==1.24.3
pytorch_transformers==1.2.0
tensorboardX==2.6.2.2
torch==1.12.1
torchvision==0.13.1
torchcrf==1.1.0
tqdm==4.66.6
transformers==4.20.1    
typer==0.4.0           
typing-extensions==4.5.0
urllib3==1.26.15       
dill==0.3.8            

